# leaflet-heatmap-layer-ts.js

> leaflet-heatmap-layer-ts - a library for working with heatmap.

[![npm version](https://badge.fury.io/js/leaflet-heatmap-layer-ts.svg)](https://www.npmjs.com/package/leaflet-heatmap-layer-ts)
[![](https://data.jsdelivr.com/v1/package/npm/leaflet-heatmap-layer-ts/badge)](https://www.jsdelivr.com/package/npm/leaflet-heatmap-layer-ts)

## Features

- Full TypeScript support
- Easy to use

## Table of Contents

- [Quick start](#quick-start)
  - [Install](#install)
  - [Initialization](#initialization)
- [Methods](#methods)
{{#functions}}
  - [{{name}}](#{{name}})
{{/functions}}

## Quick start

### Install

#### npm

For module bundlers such as Webpack or Browserify.

```shell
npm i leaflet-heatmap-layer-ts
```

### Initialization

#### ES6




## Methods

<a href="https://github.com/a-small-coder/leaflet-heatmap-layer-ts" target="_blank">Source code</a>
* * *

&copy; Dmitriy Baev